.trophy-animal-col { width: 340px; }
.trophy-type-col   { width: 360px; }
.trophy-count-col { width: 200px; }

/*.preparation-row.prep-col {*/
/*    flex: 0 0 auto;*/
/*    overflow: hidden;*/
/*    text-overflow: ellipsis;*/
/*    white-space: nowrap;*/
/*}*/

.animal-col { width: 530px; }
.count-col   { width: 360px; }

/*Штраф*/
.animal-penalty-col { width: 340px; }
.type-col   { width: 360px; }
.hunter-col { width: 200px; }

/*.preparation-row.prep-col {*/
/*    flex: 0 0 auto;*/
/*    overflow: hidden;*/
/*    text-overflow: ellipsis;*/
/*    white-space: nowrap;*/
/*}*/

/*.animal-col { width: 530px; }*/
/*.count-col   { width: 370px; }*/

 /*Питание*/
.food-row {
    align-items: center;
    gap: 10px;
}
.food-name-col {
    width: 512px;
}
.food-count-col {
    width: 80px;
}

/*Другое*/
.other-row {
    align-items: center;
}
.other-col.other-name-col {
    width: 535px;
}





