@use "helper";
@use "form";
@use "login_register";
@use "custom_daterangepicker";
@use "adminbar";
@use "plan";
@use "common/skeleton";
.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
.container {
    .container{
        padding: 0px
    }
}

